body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-size: 100%;
}

.textput{

}

#baidu-search{
	margin-top: 90%;
}

#button{

	margin-top: 10%;
}

#baidu-search{

	opacity: 0.5;
}